__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.so
.env
.env.*
venv/
.venv/
*.log
.celerybeat-schedule
.coverage
htmlcov/
.coverage.*
*.whl
.DS_Store
Thumbs.db